[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = ../zfsonlinux
[submodule "submodules/ubuntu-hirsute"]
	path = submodules/ubuntu-hirsute
	url = ../mirror_ubuntu-hirsute-kernel
