[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = git://git.proxmox.com/git/zfsonlinux.git
[submodule "submodules/ubuntu-focal"]
	path = submodules/ubuntu-focal
	url = git://git.proxmox.com/git/mirror_ubuntu-focal-kernel.git
